@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

* {
  margin: 0;
  font-family: Rubik, sans-serif;

}

body {
  background-color: #b09ebb;
  /* overridden by app background */
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(109.6deg, rgba(247, 202, 201, 1) 20.6%, rgba(146, 168, 209, 1) 85.9%);
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header>h1 {
  color: #860bac;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__information>h3 {
  color: #6a5d5d;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information>h3:last-of-type {
  margin-top: 1rem;
}

.app_r_graph {
  margin-top: 5rem;

}

.app_r_graph>h3 {
  margin-bottom: 2rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 2rem;
  }
}